<h1>Project#gossip</h1>
<p>Find me in app/views/project/gossip.html.erb</p>
<p>Voici la page du potin n°<%= @id.to_i %></p>
<p>
	<a><%= @title%></a></br>
	<a><%= @content%></a></br>
	<a><%= @user%></a></br>
</p>